body{
font-family:Arial;
margin:0;
}

header{
background:#111;
color:white;
padding:20px;
}

nav a{
color:white;
margin-right:20px;
text-decoration:none;
}

.hero{
background:#eee;
padding:80px;
text-align:center;
}

.phone{
background:#e63946;
color:white;
padding:15px 25px;
text-decoration:none;
border-radius:5px;
}

.services{
display:flex;
gap:20px;
flex-wrap:wrap;
padding:20px;
}

.card{
background:#f4f4f4;
padding:20px;
flex:1;
min-width:200px;
border-radius:8px;
}

footer{
background:#111;
color:white;
text-align:center;
padding:30px;
}

.float-call{
position:fixed;
bottom:20px;
right:20px;
background:#e63946;
color:white;
padding:15px 20px;
border-radius:50px;
text-decoration:none;
}

.lang{
margin-top:10px;
}

.cn{
display:none;
}


/* 手机适配 */

@media (max-width:768px){

.services{
flex-direction:column;
}

nav a{
display:block;
margin:10px 0;
}

.hero{
padding:40px;
}

}
.logo{
height:60px;
vertical-align:middle;
}